<div id="download_modal" class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <a class="close bold" href="#" data-dismiss="modal">x</a>
      <h2 class="modal-title"><%= t('download_report') %></h2>
    </div>
    <div class="modal-body">
      <div class="change-sandbox-settings info-box">
        <i class="fa fa-info-circle"></i>
        <span class="info-text"><%= t('change_sandbox_settings').html_safe %></span>
      </div>
      <p class="download-info"><%= t('download_info') %></p>
      <p class="file-to-download"></p>
      <div class="buttons right">
        <%=
          button_tag('Cancel',
            {href: '#', class: 'cancel-button button btn-scnd', "data-dismiss": "modal"}
          )
        %>
        <%=
          link_to('Download', '#', class: 'download-button button')
        %>
      </div>
    </div>
  </div>
</div>
