<div class="row border-btm">
  <div class="col col-sm-3 col-md-3 col-lg-3">
    <%= react_component("Dropdown",
      {
        title: 'Appendix',
        placeholder: "Please select appendix value",
        data: ['a', 'b', 'c'],
        enabled: true,
        value: (@shipment && @shipment.appendix)
      })
    %>
  </div>
  <div class="col col-sm-3 col-md-3 col-lg-3">
    <%= react_component("Dropdown",
      {
        title: 'Taxon name',
        placeholder: "Please select appendix value",
        data: ['a', 'b', 'c'],
        enabled: true,
        value: (@shipment && @shipment.taxon_name)
      })
    %>
  </div>
</div>
<div class="row border-btm">
  <div class="col col-sm-3 col-md-3 col-lg-3">
    <%= react_component("Dropdown",
      {
        title: 'Term',
        placeholder: "Please select appendix value",
        data: ['a', 'b', 'c'],
        enabled: true,
        value: (@shipment && @shipment.term_code)
      })
    %>
  </div>
  <div class="col col-sm-3 col-md-3 col-lg-3">
    <%= react_component("Dropdown",
      {
        title: 'Quantity (Qty)',
        placeholder: "Please select appendix value",
        data: ['a', 'b', 'c'],
        enabled: true,
        value: (@shipment && @shipment.quantity)
      })
    %>
  </div>
  <div class="col col-sm-3 col-md-3 col-lg-3">
    <%= react_component("Dropdown",
      {
        title: 'Unit',
        placeholder: "Please select appendix value",
        data: ['a', 'b', 'c'],
        enabled: true,
        value: (@shipment && @shipment.unit_code)
      })
    %>
  </div>
  <div class="col col-sm-3 col-md-3 col-lg-3">
    <%= react_component("Dropdown",
      {
        title: 'Trading partner',
        placeholder: "Please select appendix value",
        data: ['a', 'b', 'c'],
        enabled: true,
        value: (@shipment && @shipment.trading_partner)
      })
    %>
  </div>
</div>
<div class="row border-btm">
  <div class="col col-sm-3 col-md-3 col-lg-3">
    <%= react_component("Dropdown",
      {
        title: 'Origin',
        placeholder: "Please select appendix value",
        data: ['a', 'b', 'c'],
        enabled: true,
        value: (@shipment && @shipment.country_of_origin)
      })
    %>
  </div>
  <div class="col col-sm-3 col-md-3 col-lg-3">
    <%= react_component("InputBox",
      {
        title: 'Import Permit',
        enabled: true,
        blankCheckbox: true,
        value: (@shipment && @shipment.import_permit)
      })
    %>
  </div>
  <div class="col col-sm-3 col-md-3 col-lg-3">
    <%= react_component("InputBox",
      {
        title: 'Export Permit',
        enabled: false,
        blankCheckbox: true,
        value: (@shipment && @shipment.export_permit)
      })
    %>
  </div>
  <div class="col col-sm-3 col-md-3 col-lg-3">
    <%= react_component("InputBox",
      {
        title: 'Origin Permit',
        enabled: true,
        blankCheckbox: true,
        value: (@shipment && @shipment.origin_permit)
      })
    %>
  </div>
</div>
<div class="row border-btm">
  <div class="col col-sm-3 col-md-3 col-lg-3">
    <%= react_component("Dropdown",
      {
        title: 'Purpose Code',
        placeholder: "Please select appendix value",
        data: ['a', 'b', 'c'],
        enabled: false,
        value: (@shipment && @shipment.purpose_code)
      })
    %>
  </div>
  <div class="col col-sm-3 col-md-3 col-lg-3">
    <%= react_component("Dropdown",
      {
        title: 'Source code',
        placeholder: "Please select appendix value",
        data: ['a', 'b', 'c'],
        enabled: true,
        blankCheckbox: true,
        value: (@shipment && @shipment.source_code)
      })
    %>
  </div>
  <div class="col col-sm-3 col-md-3 col-lg-3">
    <%= react_component("InputBox",
      {
        title: 'Year',
        enabled: true,
        value: (@shipment && @shipment.year)
      })
    %>
  </div>
</div>

<div class="buttons align-right">
  <%= link_to t('cancel'), '', class: "button btn-scnd" %>
  <%= link_to t('update_selection'), '', class: "button" %>
</div>
