<div class="row border-btm">
  <div class="col col-sm-3 col-md-3 col-lg-3">
    <%= react_component("Dropdown",
      {
        title: 'Appendix',
        name: 'appendix',
        placeholder: "Please select appendix value",
        data: ['I', 'II', 'III'],
        enabled: true,
        value: (@shipment && @shipment.appendix),
        form: (form && form.object_name)
      })
    %>
  </div>
  <div class="col col-sm-3 col-md-3 col-lg-3">
    <%= react_component("Dropdown",
      {
        title: 'Taxon name',
        name: 'taxon_name',
        placeholder: "Please select appendix value",
        data: ['a', 'b', 'c'],
        enabled: true,
        value: (@shipment && @shipment.taxon_name),
        form: (form && form.object_name)
      })
    %>
  </div>
</div>
<div class="row border-btm">
  <div class="col col-sm-3 col-md-3 col-lg-3">
    <%= react_component("Dropdown",
      {
        title: 'Term',
        name: 'term_code',
        placeholder: "Please select appendix value",
        data: Term.pluck(:code),
        enabled: true,
        value: (@shipment && @shipment.term_code),
        form: (form && form.object_name)
      })
    %>
  </div>
  <div class="col col-sm-3 col-md-3 col-lg-3">
    <%= react_component("InputBox",
      {
        title: 'Quantity (Qty)',
        name: 'quantity',
        enabled: true,
        blankCheckbox: false,
        value: (@shipment && @shipment.quantity),
        form: (form && form.object_name)
      })
    %>
  </div>
  <div class="col col-sm-3 col-md-3 col-lg-3">
    <%= react_component("Dropdown",
      {
        title: 'Unit',
        name: 'unit_code',
        placeholder: "Please select appendix value",
        data: Unit.pluck(:code),
        enabled: true,
        value: (@shipment && @shipment.unit_code),
        form: (form && form.object_name)
      })
    %>
  </div>
  <div class="col col-sm-3 col-md-3 col-lg-3">
    <%= react_component("Dropdown",
      {
        title: 'Trading partner',
        name: 'trading_partner',
        placeholder: "Please select appendix value",
        data: ['a', 'b', 'c'],
        enabled: true,
        value: (@shipment && @shipment.trading_partner),
        form: (form && form.object_name)
      })
    %>
  </div>
</div>
<div class="row border-btm">
  <div class="col col-sm-3 col-md-3 col-lg-3">
    <%= react_component("Dropdown",
      {
        title: 'Origin',
        name: 'country_of_origin',
        placeholder: "Please select appendix value",
        data: ['a', 'b', 'c'],
        enabled: true,
        value: (@shipment && @shipment.country_of_origin),
        form: (form && form.object_name)
      })
    %>
  </div>
  <div class="col col-sm-3 col-md-3 col-lg-3">
    <%= react_component("InputBox",
      {
        title: 'Import Permit',
        name: 'import_permit',
        enabled: true,
        blankCheckbox: true,
        value: (@shipment && @shipment.import_permit),
        form: (form && form.object_name)
      })
    %>
  </div>
  <div class="col col-sm-3 col-md-3 col-lg-3">
    <%= react_component("InputBox",
      {
        title: 'Export Permit',
        name: 'export_permit',
        enabled: false,
        blankCheckbox: true,
        value: (@shipment && @shipment.export_permit),
        form: (form && form.object_name)
      })
    %>
  </div>
  <div class="col col-sm-3 col-md-3 col-lg-3">
    <%= react_component("InputBox",
      {
        title: 'Origin Permit',
        name: 'origin_permit',
        enabled: true,
        blankCheckbox: true,
        value: (@shipment && @shipment.origin_permit),
        form: (form && form.object_name)
      })
    %>
  </div>
</div>
<div class="row border-btm">
  <div class="col col-sm-3 col-md-3 col-lg-3">
    <%= react_component("Dropdown",
      {
        title: 'Purpose Code',
        name: 'purpose_code',
        placeholder: "Please select appendix value",
        data: Purpose.pluck(:code),
        enabled: true,
        value: (@shipment && @shipment.purpose_code),
        form: (form && form.object_name)
      })
    %>
  </div>
  <div class="col col-sm-3 col-md-3 col-lg-3">
    <%= react_component("Dropdown",
      {
        title: 'Source code',
        name: 'source_code',
        placeholder: "Please select appendix value",
        data: ['a', 'b', 'c'],
        enabled: true,
        blankCheckbox: true,
        value: (@shipment && @shipment.source_code),
        form: (form && form.object_name)
      })
    %>
  </div>
  <div class="col col-sm-3 col-md-3 col-lg-3">
    <%= react_component("InputBox",
      {
        title: 'Year',
        name: 'year',
        enabled: true,
        value: (@shipment && @shipment.year),
        form: (form && form.object_name)
      })
    %>
  </div>
</div>

<div class="buttons align-right">
  <%= link_to t('cancel'), '', class: "button btn-scnd" %>
  <%= submit_tag t('update_selection'), class: "button" %>
</div>
