<%= render "shared/back_to_shipments" %>
<div class='top-info-box'>
  <span><%= t('selected_error') %>:</span><span class='bold'> <%= @error %></span>
</div>

<%= react_component 'BatchEdit', {}, {class: 'align-right'} %>

<%= render "batch_edit" %>

<div class='shipments-title'>
  <h1 class="sandbox-title bold">Sandbox</h1>
</div>

<%=
  react_component 'ShipmentsTable',
    {
      pageName: 'shipments',
      totalPages: @total_pages,
      annualReportUploadId: @annual_report_upload.id,
      validationErrorId: @validation_error.id,
      changesHistory: false
    }
%>
