<!DOCTYPE html>
<html>
  <head>
    <title>TradeReportingTool</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta id="locale" value=<%= I18n.locale %>></meta>
  </head>

  <body>
    <div class="top-level-container">
      <div class="borders-wrapper">
        <%= render 'layouts/shared/header' %>
        <div class="container">
          <%= yield %>
        </div>
      </div>
      <%= render "layouts/shared/footer" %>
    </div>
  </body>
</html>
